@charset "utf-8";
/* CSS Document */
.aqua_promodiv_inner{ width: 980px; min-width: 980px; max-width: 980px}
.minheight604  .panel-heading{ height: 90px;}
.panel-heading > .dropdown .dropdown-toggle{ height: 89px;}
#access h4 { margin-top: 25px;}